<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Building:</strong>
  <%= @person.building %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @person.emergency_phone %>
</p>

<p>
  <strong>Pup parent:</strong>
  <%= @person.pup_parent %>
</p>

<p>
  <strong>Pup provider:</strong>
  <%= @person.pup_provider %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %>
