<div class="booyah-box">
  <%#= job.requests.last.status %> <!-- unless job.requests.last.nil? -->
  <div class="row">
    <div class="col-md-4">
      <%= "#{job.user.email}" %>
      <%= image_tag job.user.pic, :class => 'img-responsive' %>
    </div>
    <div class="col-md-4">
      <%= "#{job.pup.pup_name}" %>
      <%= image_tag job.pup.pup_pic, :class => 'img-responsive' %>
    </div>
    <div class="col-md-4">
      <p>Drop off: <%= job.drop_off_time.to_formatted_s(:long_ordinal) %></p>
      <p>Place: <%= job.drop_off_location %></p>
      <p>Pick up: <%= job.pick_up_time.to_formatted_s(:long_ordinal) %></p>
      <p>Place: <%= job.pick_up_location %></p>
      <% if job.user != current_user # logged in as walker %>
      <%= simple_form_for Request.new, url: requests_path(current_user, 
  request: { user_id: current_user, requested_of_user_id: job.user, job_id: job, status: 'pending'}
  ), method: :post do |f| %>
      <%= f.button :submit, 'Walk this pup!', class: 'btn btn-success btn-xs'%>
      <% end %>
      <% elsif job.user == current_user %>
      <%= link_to 'Delete Job', job_path(job), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- booyah-box -->
<br>