<%= link_to 'New Job', new_job_path, class: 'btn btn-primary'  %>

<h1>Let's go for a walk!</h1>

<% @jobs.each do |job| %>

<div class="booyah-box">
  <% job.attributes.each do |key, value| %>
  <p><strong><%= key %>: </strong><%= value %></p>
  <% end %>

  <% if job.user == current_user %><!--# current_user assumes user_signed_in? is true -->
  <br>  
  <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-warning'%>
  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <br>
  <% end %>

  <br>
  <% if user_signed_in? %>
    <% if !job.walk_request_pending %><!-- the job must NOT already have a pending request outstanding -->
      <%= simple_form_for(job, url: job_path(job, walk_request: true)) do |f| %>
        <%= f.input :walk_request_pending,         as: :hidden, input_html: { value: true } %>
        <%= f.input :walk_request_pending_user_id, as: :hidden, input_html: { value: current_user.id }  %>
        <%= f.button :submit, 'I want to walk your pup!', class: 'btn btn-success'%>
      <% end %>    
    <% else %>
      <%#= "This job has already been requested by #{User.find(job.walk_request_pending_user_id).first_name}" %> 
    <% end %>  
  <% else %>
  <%= link_to 'I want to walk your pup!', user_session_path, class: 'btn btn-success' %>
  <% end %>
  
</div>

<br>
<% end %>

