<%= link_to 'New Job', new_job_path, class: 'btn btn-primary'  %>

<h1>Let's go for a walk!</h1>

<% @jobs.each do |job| %>

<div class="booyah-box">
  <% job.attributes.each do |key, value| %>
  <p><strong><%= key %>: </strong><%= value %></p>
  <% end %>

  <% if job.user == current_user %>
  <br>  
  <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-warning'%>
  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <br>
  <% end %>
  
  <br>
  <%= link_to 'I want to walk your pup!', user_signed_in? ? root_path : user_session_path, 
    data: { confirm: 'Okay to send a walk request to the pup\'s owner?' }, 
    class: 'btn btn-success' %>
</div>

<br>
<% end %>

