<%= link_to 'New Job', new_job_path, class: 'btn btn-primary'  %>

<h1>These pups need a walk!</h1>

<% @jobs.each do |job| %>

<div class="booyah-box">

  <div class="row">
    <!--
<div class="col-md-6">
<p>Pup name: <%#=   job.pup_name %></p>
<p>Pup breed: <%#=  job.pup_breed %></p>
<p>Pup weight: <%#= job.pup_weight %></p>
<p>Pup gender: <%#= job.pup_gender %></p>
</div>
-->
    <div class="col-md-6"> <!-- replicating this code in the mailer view -->
      <p>Drop off: <%= job.drop_off_time.to_formatted_s(:long_ordinal) %></p>
      <p>Place: <%= job.drop_off_location %></p>
      <p>Pick up: <%= job.pick_up_time.to_formatted_s(:long_ordinal) %></p>
      <p>Place: <%= job.pick_up_location %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% if !job.walk_request_pending_user_id.nil? %>
      <%= "#{User.find(job.walk_request_pending_user_id).email} requested to walk this pup" %>
      <% elsif !job.walker_id.nil? %>
      <%= "#{User.find(job.walker_id).email} was approved to walk this pup!" %>
      <% elsif user_signed_in? %>
      <%= simple_form_for job, url: walk_request_job_path(job) do |f| %>
      <%= f.button :submit, 'Take this pup for a walk!', class: 'btn btn-success'%>
      <% end %>
      <% end %>
    </div>

    <% if job.user == current_user %>
    <div class="col-md-6">
      <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-warning'%>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>

<br>
<% end %>

