<p id="notice"><%= notice %></p>

<%= link_to 'My pup needs a walk too!', new_pup_path %>

<br>

<h1>Let's go for a walk!</h1>

<% @jobs.each do |job| %>
<div class="booyah-box">
  <p><strong>
    <%#= pup.name %> the <%#= pup.weight %>lb. <%#= pup.gender %> <%#= pup.breed %>
  </strong></p>
    <p>Pick me up: <%= job.drop_off_time %> at <%= job.drop_off_location %></p>
  <p>Drop me off: <%= job.pick_up_time %> at <%= job.pick_up_location %></p>
  <br>
  <br>
  <!-- if person is logged in alter a record they created -->
  <%= link_to 'Show', job %>
  <%= link_to 'Edit', edit_job_path(job) %>
  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'I want to walk your pup!', root_path, class: 'btn btn-success' %>
  
</div>
<% end %>

<br>
<%= link_to 'New Job', new_job_path %>
