<%= link_to 'New Job', new_job_path, class: 'btn btn-primary' %>

<h1>These pups need a walk!</h1>

<% @jobs.each do |job| %>

<div class="booyah-box">

  <div class="row">

    <div class="col-md-3">
      <%= image_tag job.user.pic, :class => 'img-responsive' %>
    </div>
    <div class="col-md-3">
      <%= image_tag job.pup.pup_pic, :class => 'img-responsive' %>
    </div>
    <div class="col-md-3">
      <p>Name: <%= job.pup.pup_name %></p>
      <p>Drop off: <%= job.drop_off_time.to_formatted_s(:long_ordinal) %></p>
      <p>Place: <%= job.drop_off_location %></p>
      <p>Pick up: <%= job.pick_up_time.to_formatted_s(:long_ordinal) %></p>
      <p>Place: <%= job.pick_up_location %></p>
      <% if job.user == current_user %>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <% @current_request = Request.where(job_id: job).last %>
      <% if !@current_request.nil? %>
      <%= image_tag @current_request.user.pic, :class => 'img-responsive' %>
      <% end %>
      <% if user_signed_in? %>
      <%= simple_form_for Request.new, url: user_requests_path(current_user, request: {user_id: current_user, requested_of_user_id: job.user, job_id: job, status: 'pending'}), method: :post do |f| %>     
      <%# else %>
      <%#= simple_form_for Request.new, url: request_path(request: {user_id: current_user, requested_of_user_id: job.user, job_id: job, status: 'pending'}), method: :post do |f| %> 
      <!-- redirect user to log in and complete the request -->
      <%= f.button :submit, 'Walk this pup!', class: 'btn btn-success btn-lg'%>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<% end %>
<br>
<br>


