<p><strong>
  <%= link_to '*****', edit_job_url(id: @request.job,
  user_id: @request.job.user, 
  feedback: 'stars_5') %>
  </strong></p>

<p><strong>
  <%= link_to '****', edit_job_url(id: @request.job,
  user_id: @request.job.user, 
  feedback: 'stars_4') %>
  </strong></p>

<p><strong>
  <%= link_to '***', edit_job_url(id: @request.job,
  user_id: @request.job.user, 
  feedback: 'stars_3') %>
  </strong></p>

<p><strong>
  <%= link_to '**', edit_job_url(id: @request.job,
  user_id: @request.job.user, 
  feedback: 'stars_2') %>
  </strong></p>

<p><strong>
  <%= link_to '*', edit_job_url(id: @request.job,
  user_id: @request.job.user, 
  feedback: 'stars_1') %>
  </strong></p>

<%= render 'walk_request_person_details' %>
<br>
<%= render 'walk_request_details' %>