<p><strong>
  <%= link_to 'Approve', edit_user_request_url(id: @request,
  user_id: @request.user, 
  status: 'approved') %>
  </strong></p>

<p><strong>
  <%= link_to 'Decline', edit_user_request_url(id: @request,
  user_id: @request.user, 
  status: 'declined') %>
  </strong></p>

<br>
<%= render 'walk_request_person_details' %>
<br>
<%= render 'walk_request_details' %>
<br>
<%= render 'walk_request_cancel' %>
