<%= simple_form_for(@pup) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :weight %>
    <%= f.input :gender %>
    <%= f.input :birthday %>
    <%= f.input :picture %>
    <%= f.input :tracking_chip %>
    <%= f.input :neutered %>
    <%= f.input :good_w_dogs %>
    <%= f.input :special_requirements %>
    <%= f.input :care_instructions %>
    <%= f.input :vet_phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
