<h1>My pups</h1>

<%= link_to 'New Pup', new_user_pup_path(current_user) %>
<br>
<br>

<% @pups.each do |pup| %>

<div class="booyah-box">

  <div class="row">
    <div class="col-md-6">
      <p>Name: <%= pup.pup_name %></p>
      <p>Breed: <%= pup.pup_breed %></p>
      <p>Weight: <%= pup.pup_weight %></p>
      <p>Gender: <%= pup.pup_gender %></p>
      <p>Age: <%= pup.pup_age %></p>    
      <p>Vet phone: <%= pup.pup_vet_phone %></p>
      <p>Care notes: <%= pup.pup_care_instructions %></p>
    </div>
  </div>

  <%= link_to 'Edit', edit_user_pup_path(current_user, pup) %>
  <%= link_to 'Destroy', user_pup_path(current_user, pup), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
  <br>
  <br>
<% end %>

<br>

