<div class="booyah-box">
  <strong><%= availability.requests.last.status unless availability.requests.empty? %></strong>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag availability.user.pic, class: 'img-responsive' %>
    </div>
    <div class="col-md-4">
      <strong><p><%= "#{availability.user.email}" %></strong>
      <p>Available from: <%= availability.available_from %></p>
      <p>Available to: <%= availability.available_to %></p>
      <p>Location: <%= availability.location %></p>
      <p>Details: <%= availability.comment %></p>
      <p>Walk Type: <%= availability.walk_type %></p>
    </div>
    <% if availability.user == current_user %>
    <%= link_to 'Delete Availability', availability_path(availability), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div> <!-- row -->
</div>
<br>