<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @availability.name %>
</p>

<p>
  <strong>Walker sitter:</strong>
  <%= @availability.walker_sitter %>
</p>

<p>
  <strong>Available from:</strong>
  <%= @availability.available_from %>
</p>

<p>
  <strong>Available location:</strong>
  <%= @availability.available_location %>
</p>

<p>
  <strong>Available to:</strong>
  <%= @availability.available_to %>
</p>

<p>
  <strong>Dog size:</strong>
  <%= @availability.dog_size %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
