<!DOCTYPE html>
<html>
  <head>
    <title>PupShare</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <!-- start navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Pup Share', root_path, class: 'navbar-brand'  %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Search Walkers', availabilities_path %></li>  
            <li><%= link_to 'Search Sitters', availabilities_path %></li> 
            <li><a href="#">Become a Walker or Sitter</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><%= link_to 'Help', help_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> 
    <!-- end navbar -->


    <div class="row">
      <div class="col-md-2">
      </div>
      
      <div class="col-md-6">
        <%= yield %>      
      </div>

      <div class="col-md-2">
      </div>     
    </div>



    
    <footer class="footer">
        <p>Some stuff goes down here. &copy 2015, etc.</p>
    </footer>
        


  </body>
</html>
