<!DOCTYPE html>
<html>
  <head>
    <title>PupShare</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <!-- start navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Pup Share', root_path, class: 'navbar-brand'  %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right"> 
            <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>          
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> 
    <!-- end navbar -->

    <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="row">
      <div class="col-md-2">
      </div>
      
      <div class="col-md-6">
        <%= yield %>      
      </div>

      <div class="col-md-2">
      </div>     
    </div>

    
    <br>
    <br>
    <br>
    <!--     
<footer class="footer">
<p>Footer stuff goes down here. &copy 2015, etc.</p>
</footer> 
-->

  </body>
</html>
